
<%= render 'layouts/orgheader' %>

  <div >
    <h1 class = "title">Add Items to Your Registry</h1>

    <div class="row">
    <%= form_for(@item, url: registry_items_path) do |f| %>

      <div class = "col-sm-4">
      <%= f.label "item name:", :class => 'margin2' %>
      <%= f.text_field :name, :class => 'form-control' %>
  	  </div>

  	  <div class = "col-sm-2">
      <%= f.label "number needed:", in: 1..1000,  :class => 'margin2' %>
      <%= f.number_field :amount_needed, :class => 'form-control' %>
  	  </div>


  	  <div class = "col-sm-2">
  	  <p style = "margin-top:52px;">&nbsp;</p>
      <%= f.submit "add", :class => 'btn btn-primary', :width=>"20px" %>
      </div>

    <% end %>

  </div>
</div>

<div>
<h1 style = "margin-top:100px">Registry Items</h1>
<h5 class = "margin" style = 'margin-top:20px;'>Click on a field to edit.</h5>


<% if @items.length > 0%>

<table style = "margin-top:60px; width:90%">

<tr>
    <th>&nbsp;&nbsp;&nbsp;Item</td>
    <th style = "text-align:center">Needed</td>
    <th style = "text-align:center">Pledged</td>
    <th style = "text-align:center">Received</td>
    <th style = "text-align:center">&nbsp;&nbsp;&nbsp;</td>

</tr>
<% @items.each do |item| %>

  <tr class = "trash">
    <td class = "column"><p style = "margin-left:10px;margin-top:9px;"><%= best_in_place item, :name, :place_holder => "click to edit"%></p></td>

    <td class = "column num_column" style = "text-align:center;width:60px;"><%= best_in_place item, :amount_needed, :place_holder => 0%></td>
    <td class = "column num_column" style = "text-align:center;width:60px;"><%= best_in_place item, :amount_pledged, :place_holder => 0%></td>

    <td class = "column num_column" style = "text-align:center;width:60px;"><%= best_in_place item, :amount_received, :place_holder => 0%></td>

    <td style = "text-align:center;width:60px;" class = "column num_column delete" id = <%= item.id %>>
     <%= image_tag "delete.png"%>
    </td>

  </tr>

<% end %>

<% else %>

<h5 style = "margin-top:60px">Add registry items above</h5>

<% end %>


</table>



</div>