<%= render 'layouts/header' %>

<h1 style = 'margin-left:6%;text-align:center'>Give to a Cause</h1>

<div>

<% @links = ["https://i.ytimg.com/vi/zQYe3ngG6qs/maxresdefault.jpg",
			"http://dailysignal.com/wp-content/uploads/rtrlsix867107.jpg",
			"http://free-islamic-course.org/wp-content/uploads/2014/01/tornado.jpg",
			"http://assets.nydailynews.com/polopoly_fs/1.15871.1314097551!/img/httpImage/image.jpg_gen/derivatives/gallery_1200/gal-earthquack-japan-2-jpg.jpg",
			"http://s3.amazonaws.com/assets.prod.vetstreet.com/e3/f5aa809b8111e192b2005056ad4734/file/natural%20disaster.jpg",
			"http://pad3.whstatic.com/images/thumb/b/b6/Prepare-a-Company-for-a-Natural-Disaster-Step-1.jpg/aid1328564-728px-Prepare-a-Company-for-a-Natural-Disaster-Step-1.jpg"] %>

<% @disaster_names = ["Tsunami Relief",
			"Flood Drive",
			"Tornado Aftermath",
			"Earthquake and Fire Relief",
			"Santa Clara Storm",
			"Flood Relief"] %>

<div id="wrapper">
	<div id="columns">
		<% @orgs.each_with_index do |org, index| %>

			<% @drive = Drive.find(org.drive_id) %>
			<div class="pin">

				<img src=<%= @links[index % 6] %>>
				</img>


				<h5><%= @drive.name %></h5>
				<h6><%=(@drive.city||="Cupertino") + ", " + (@drive.state||="CA")%></h6>

				<!-- <p><%=org.name%></p> -->
				<p>
					<%=@drive.about.truncate(200) + "..." %>

				</p>

				<%=link_to "donate", 'organizations/' + org.name + '?id=' + org.id.to_s, {:style=>'color:blue;text-align:center', :class => "org_link"} %>
			</div>

		<% end %>


	</div>
</div>





