<%= render 'layouts/orgheader' %>

<% provide(:title, 'Sign up') %>
<html>



<div class="row">

  <div class="col-md-5 col-md-offset-4">
    <h1 class = "title">Join Our Platform</h1>
    <%= form_for(@org) do |f| %>

      <h4 class = 'first_field header'>Organization Info</h4>

      <%= f.label "Organization Name", :class => 'first_field' %>
      <%= f.text_field :name, :class => 'form-control' %>

      <%= f.label "Link to Website (optional)", :class => 'first_field' %>
      <%= f.text_field :link, :class => 'form-control' %>

      <!-- Drive -->
      <h4 class = 'first_field header'>Drive</h4>

      <%= f.fields_for :drives do |drives_form| %>
        <!-- <p>Choose Existing</p>
       <%= drives_form.collection_select :name, Drive.order(:name),:id,:name, include_blank: true, :class =>'form-control' %> -->

       <p style = "margin-top:20px">Information about the cause you are collecting for.</p>
       <%= f.label :name, :class => 'first_field' %>
       <%= drives_form.text_field :name, :class =>'form-control' %>

       <%= f.label :city, :class => 'first_field' %>
       <%= drives_form.text_field :name, :class =>'form-control' %>

       <%= f.label :state, :class => 'first_field' %>
       <%= drives_form.text_field :name, :class =>'form-control' %>

       <%= f.label :about, :class => 'first_field' %>
       <%= drives_form.text_area :about, :class =>'form-control' %>


      <%end%>

      <!-- Hours -->

      <h4 class = 'first_field header'>Donation Drop Off Hours</h4>

       <div class="row" >

        <div class="col-sm-4" style:"width=200;">
          <p class = 'first_field header'>Sunday</p>
        </div>

        <div class="col-sm-4" style:"width=200;">
          <%= f.label "open", :class => 'first_field' %>
          <%= f.time_field :sun_open, :class => 'form-control', :style =>"height:25px", :style =>"height:25px"%>
        </div>

        <div class="col-sm-4" style:"width=200;">
          <%= f.label "close", :class => 'first_field' %>
          <%= f.time_field :sun_close, :class => 'form-control', :style =>"height:25px" %>
        </div>

      </div>

      <div class="row" >
        <div class="col-sm-4" style:"width=200;">
          <p class = 'first_field header'>Monday</p>
        </div>

        <div class="col-sm-4" style:"width=200;">
          <%= f.label " ", :class => 'first_field' %>
          <%= f.time_field :mon_open, :class => 'form-control', :style =>"height:25px" %>
        </div>

        <div class="col-sm-4" style:"width=200;">
          <%= f.label " ", :class => 'first_field' %>
          <%= f.time_field :mon_close, :class => 'form-control', :style =>"height:25px" %>
        </div>
      </div>

      <div class="row" >
        <div class="col-sm-4" style:"width=200;">
          <p class = 'first_field header'>Tuesday</p>
        </div>

        <div class="col-sm-4" style:"width=200;">
          <%= f.label " ", :class => 'first_field' %>
          <%= f.time_field :tues_open, :class => 'form-control', :style =>"height:25px" %>
        </div>

        <div class="col-sm-4" style:"width=200;">
          <%= f.label " ", :class => 'first_field' %>
          <%= f.time_field :tues_close, :class => 'form-control', :style =>"height:25px" %>
        </div>
      </div>

      <div class="row" >
        <div class="col-sm-4" style:"width=200;">
          <p class = 'first_field header'>Wednesday</p>
        </div>

        <div class="col-sm-4" style:"width=200;">
          <%= f.label " ", :class => 'first_field' %>
          <%= f.time_field :wed_open, :class => 'form-control', :style =>"height:25px" %>
        </div>

        <div class="col-sm-4" style:"width=200;">
          <%= f.label " ", :class => 'first_field'%>
          <%= f.time_field :wed_close, :class => 'form-control', :style =>"height:25px" %>
        </div>
      </div>

      <div class="row" >
        <div class="col-sm-4" style:"width=200;">
          <p class = 'first_field header'>Thursday</p>
        </div>

        <div class="col-sm-4" style:"width=200;">
          <%= f.label " ", :class => 'first_field' %>
          <%= f.time_field :thurs_open, :class => 'form-control', :style =>"height:25px" %>
        </div>

        <div class="col-sm-4" style:"width=200;">
          <%= f.label " ", :class => 'first_field' %>
          <%= f.time_field :thurs_close, :class => 'form-control', :style =>"height:25px" %>
        </div>
      </div>

      <div class="row" >
        <div class="col-sm-4" style:"width=200;">
          <p class = 'first_field header'>Friday</p>
        </div>

        <div class="col-sm-4" style:"width=200;">
          <%= f.label " ", :class => 'first_field' %>
          <%= f.time_field :fri_open, :class => 'form-control', :style =>"height:25px" %>
        </div>

        <div class="col-sm-4" style:"width=200;">
          <%= f.label " ", :class => 'first_field' %>
          <%= f.time_field :fri_close, :class => 'form-control', :style =>"height:25px" %>
        </div>
      </div>

       <div class="row" >
        <div class="col-sm-4" style:"width=200;">
          <p class = 'first_field header'>Saturday</p>
        </div>

        <div class="col-sm-4" style:"width=200;">
          <%= f.label " ", :class => 'first_field' %>
          <%= f.time_field :sat_open, :class => 'form-control', :style =>"height:25px" %>
        </div>

        <div class="col-sm-4" style:"width=200;">
          <%= f.label " ", :class => 'first_field' %>
          <%= f.time_field :sat_close, :class => 'form-control', :style =>"height:25px" %>
        </div>
      </div>





      <%= f.label :phone_number, :class => 'first_field' %>
      <%= f.telephone_field :phone_number, :class => 'form-control' %>


      <%= f.label "Donation Drop Off Address", :class => 'first_field' %>
      <%= f.text_field :address, :class => 'form-control' %>

      <%= f.text_field :address_line_2, :class => 'form-control' %>


      <%= f.label "About Your Organization", :class => 'first_field' %>
      <p>Donors will be able to see this when they visit your page to donate to your registry.</p>
      <%= f.text_area :about, :class => 'form-control' %>


       <h4 class = 'first_field header'>Account Credentials</h4>

      <%= f.label :username, :class => 'first_field' %>
      <%= f.text_field :username, :class => 'form-control' %>


      <%= f.label :password, :class => 'first_field' %>
      <%= f.password_field :password, :class => 'form-control' %>



      <%= f.label :password_confirmation, "Confirm Password", :class => 'first_field'%>
      <%= f.password_field :password_confirmation, :class => 'form-control' %>

      <%= f.submit "Create Account", :class => 'btn btn-primary first_field'%>
    <% end %>
  </div>
</div>
</html>


<!-- %= f.submit "Create my account", class: "btn btn-primary" %> -->
