
  <div class = "menudiv">

  <ul id = "menu1" class = "menu" down = "false">

    <li class = "home_link"><a href="#home">DonorRegistry</a></li>



    <% if user_logged_in? %>
       <li class = "menu"><%= link_to "Search", '/organizations' %></li>
       <li class = "menu"><%= link_to "My Pledges", '/pledges' %></li>
       <li class = "menu"><%= link_to "Logout", logout_path %></li>
    <% else %>
      <li class = "menu"><%= link_to "About Us", login_path %></li>
      <li class = "menu"><%= link_to "Sign Up", signup_path %></li>
      <li class = "menu"><%= link_to "Login", login_path %></li>
    <% end %>

  </ul>
</div>
